 <h1>Bonjour {{ user.firstname }} {{ user.lastname }} !</h1>

<p>
    Pour réinitialiser votre mot de passe, merci de copier et coller le champ suivant dans le formulaire :

</p>
<p>{{ user.signUpToken }}</p>